<div data-animation="default" class="navbar-logo-left-2 w-nav" data-easing2="ease" data-easing="ease" data-collapse="medium" role="banner" data-no-scroll="1" data-duration="400">
    <div class="navbarcontainer-2 w-container">
      <div class="navbar-content-2">
        <div class="navbar-brand-2">
          <div class="logo-2">
            <div class="logos-4 desktop"><img src="{{ images.-15a5040.url }}" loading="lazy" width="111.84152221679688" height="44.999969482421875" data-sizes="[{&quot;max&quot;:640,&quot;size&quot;:&quot;100vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;640px&quot;}]" alt="{{ images.-15a5040.alt | trim | escape }}" class="vectors-wrapper-20">
              <div class="wordmark-4"><img src="{{ images.-1767f42.url }}" loading="lazy" width="35.51740264892578" height="21.345539093017578" data-sizes="[{&quot;max&quot;:640,&quot;size&quot;:&quot;100vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;640px&quot;}]" alt="{{ images.-1767f42.alt | trim | escape }}" class="vectors-wrapper-21"><img src="{{ images.-16867c1.url }}" loading="lazy" width="177.6421661376953" height="22.179697036743164" data-sizes="[{&quot;max&quot;:640,&quot;size&quot;:&quot;100vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;640px&quot;}]" alt="{{ images.-16867c1.alt | trim | escape }}" class="vectors-wrapper-22"></div>
            </div>
            <div class="logos-4 mobile"><img src="{{ images.-15a5040.url }}" loading="lazy" width="111.84152221679688" height="44.999969482421875" data-sizes="[{&quot;max&quot;:640,&quot;size&quot;:&quot;100vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;640px&quot;}]" alt="{{ images.-15a5040.alt | trim | escape }}" class="vectors-wrapper-20"></div>
          </div>
        </div>
        <nav role="navigation" class="navbar-menu-2 w-nav-menu">
          <a href="{{ links.413ec14a }}" class="navbar-link-2 w-nav-link">
            <div class="body-d-6">{{ texts.3c2336d }}</div>
          </a>
          <a href="{{ links.-39e13289 }}" class="navbar-link-2 w-nav-link">
            <div class="body-d-6">{{ texts.-7b61fb8c }}</div>
          </a>
          <a href="{{ links.1bc1bfba }}" class="navbar-link-2 w-nav-link">
            <div class="body-d-6">{{ texts.-25bf0949 }}</div>
          </a>
          <a href="{{ links.a98fdc7 }}" class="navbar-link-2 w-nav-link">
            <div class="body-d-6">{{ texts.3016773e }}</div>
          </a>
          <a href="{{ links.f6c8fd2 }}" target="_blank" class="button-2 primary nav">
            <div class="text-4 button-d">{{ texts.-5c165007 }}</div>
          </a>
        </nav>
      </div>
      <div class="menu-button w-nav-button">
        <div class="icon w-icon-nav-menu"></div>
      </div>
    </div>
  </div>